@import '../theme/_variables';
@import '../theme/_utilities';

.wrapper {
  @extend %flexCenter;
}

.canvasWrapper {
  @include fix-center(-100%);
  width: calcVW(750);
  height: calcVW(1500);
  @extend %flexCenter;
}

.canvas {
  @extend %fullContainer;
  display: block;
}
