doctype html
html(lang='en')
  head
    include includes/meta.pug
    title Canvas Effects
    base(href="./")
  body
    .main-screen
    script(src="https://cdn.jsdelivr.net/npm/fabric@3/dist/fabric.min.js")
